<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSProveedorSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WSProveedorSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44354/WSProveedor.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSProveedorSoap"
                contract="ServiceReferenceWSProveedor.WSProveedorSoap" name="WSProveedorSoap" />
        </client>
    </system.serviceModel>
</configuration>